@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .banner{
    padding: 0 35px;
    animation: moveBanner 2s infinite linear;
    transition: all;
    
  }

  .menu--open{
    max-height: 100vh;
    overflow: hidden;
  }

  @keyframes moveBanner {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }
}